<div align="center">
    <h2>Hi, <%= @user.first_name %>!</h2>
</div>

<div align="center">
    <%= link_to 'My Account', '/users/show' %>
</div>

<div align="center">
    <%= link_to 'My Orders', '/users/:user_id/orders' %>
</div>

<div align="center">
    <%= link_to 'Create New Order', '/users/:user_id/orders/new' %>
</div>